body {
  font-family: Arial, sans-serif;
  background:  #2a5298;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 30px 20px;
  background: rgba(0,0,0,0.3);
  border-bottom: 2px solid #fff;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}

footer {
  margin: 30px 0;
}

a{
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 3vw;
  left: 2vw;
}